{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Projet Rigel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/Rigel_logo.png' %}" rel="icon">
  <link href="{% static 'img/Rigel_logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <style>
  .contenu {
    margin-top: 8%;
  }</style>
</head>

<body>

  <div class="wrapper">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex justify-content-between align-items-center">
  
        <div id="logo">
          <a href="{% url 'home:accueil' %}"><img src="{% static 'img/Rigel_logo.png' %}" alt=""></a>
          <!-- Uncomment below if you prefer to use a text logo -->
          <!--<h1><a href="index.html">Regna</a></h1>-->
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="{% url 'home:accueil' %}">Accueil</a></li>
            <li class="dropdown"><a href="{% url 'univers:univers' %}"><span>Univers</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'univers:univers' %}">Race</a></li>
                <li><a href="{% url 'univers:univers' %}#personnages">Histoire des personnages</a></li>
                <li><a href="#lord">Lord</a></li>
                <li><a href="#artwork">Artwork</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="{% url 'outils:outils' %}"><span>Outils</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#dice">Lancé de Dé</a></li>
                <li><a href="#carte">Carte</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="{% url 'ressources:ressources' %}"><span>Ressources</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#livret-jeu">Livret de jeu</a></li>
                <li><a href="#livret-regles">Livret de règles</a></li>
                <li><a href="#livret-mj">Livret du MJ</a></li>
                <li><a href="#bestiaire">Bestiaire</a></li>
                <li><a href="#pretire">Prétiré</a></li>
                <li><a href="#fiche-perso-blank">Fiche personnage vierge</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="{% url 'contact:contact' %}">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->

        <!-- Content Wrapper. Contains page content -->
        {% block content_wrapper %}{% endblock %}
        <!-- /.content-wrapper -->
      <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
</div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>