{% extends 'base.html' %}
{% load static %}

{% block content_wrapper %}
    <!-- ======= Race Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Race</h3>
            <p></p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-Dechus">Déchus</li>
                <li data-filter=".filter-Deviants">Déviants</li>
                <li data-filter=".filter-Praeriens">Praériens</li>
                <li data-filter=".filter-Vortis">Vortis</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Dechus">
              <img src="{% static 'img/portfolio/Déchus.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Déchus</h4>
                <p>Histoire</p>
                <a href="{% static 'img/portfolio/Déchus.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{% url 'race:race' %}#dechus" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Praeriens">
              <img src="{% static 'img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Praériens</h4>
                <p>Histoire</p>
                <a href="{% static 'img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="{% url 'race:race' %}#praeriens" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Vortis">
              <img src="{% static 'img/portfolio/Vortis.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Vortis</h4>
                <p>Histoire</p>
                <a href="{% static 'img/portfolio/Vortis.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="{% url 'race:race' %}#vortis" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-Deviants">
              <img src="{% static 'img/portfolio/Déviant.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Déviants</h4>
                <p>Histoire</p>
                <a href="{% static 'img/portfolio/Déviant.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="{% url 'race:race' %}#deviants" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
{% endblock %}